body{

}

#header{
    background-color: #2c293c;
    height:20%;
    text-align: center;
    color:goldenrod;
    width:100%;
    margin: auto;

}
#potrait{
background-color: grey;
    height:100%;
    width:100%;
    opacity: 0.7;
    color:white;
    margin: auto;
}
#main{

    height:100%;
    width:100%;
    text-align: center;
    margin:auto;
     background-image: url("/assets/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;

}

#footer{
    width:100%;
    margin:auto;
    height:40%;
    background-color: darkgrey;
    color:white;
}
